<!-- admin.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin Panel</title>
</head>
<body>
    <%- include('navbar') %>
    <h1>Admin Panel - Utenti</h1>
    <div id="userTable" class="user-table"></div>

    <script src="/js/admin.js"></script>
</body>
</html>