<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Assicurati di collegare il tuo foglio di stile CSS -->
</head>
<body>

<%- include('navbar') %>

<div id="logoutMessage" style="color: red;"></div>

<script src="/js/logout.js"></script> <!-- Assicurati di collegare il tuo script JavaScript -->

</body>
</html>
