<!-- navbar.ejs -->
<nav>
    <ul class="navbar">
        <li><a href="/login">Login</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/vetrina">Vetrina</a></li>
        <li><a href="/aggiungi">Aggiungi</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>